<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SRTP_CS</title>
    <!-- Custom Theme files -->
    <link href="../static/css/style.css " rel="stylesheet"/>
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <!--Google Fonts-->

</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/user/toLogin}"
               th:text="${#strings.isEmpty(session.loginUser)}?'登录':${session.loginUser}"></a></li>
    </ul>
</nav>

<!--search start here-->
<div class="search">
    <i> </i>
    <div class="s-bar">
        <form th:action="@{result}" method="get">
            <input type="text" name="searchText" value="Search code" onfocus="this.value = '';"
                   onblur="if (this.value === '') {this.value = 'Search code';}">
            <input type="hidden" name="searchNum" value="3"/>
            <input type="submit" value="Search"/>
        </form>
    </div>
    <p>please input the key word about the code what you want to obtain</p>
</div>
<!--search end here-->
<div class="copyright">
    <p>2022 &Code Search engine developed by Jichen Li,Lang Yuan and Xueting Sun,whose code in
        <a href="https://github.com/john9999911/cc_cs.git" target="_blank">GitHub </a></p>
</div>
</body>
</html>