<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.srtp_cs.dev.mapper.UserMapper">

    <resultMap id="UserMapper" type="com.srtp_cs.dev.entity.User">
        <id property="uid" column="uid"/>
        <result property="mail" column="mail"/>
        <result property="name" column="name"/>
        <result property="pwd" column="pwd"/>
    </resultMap>


    <select id="selectUserByUid" resultType="com.srtp_cs.dev.entity.User">
        SELECT * FROM cs_user WHERE uid = #{uid}
    </select>

    <select id="selectUserByMail" resultType="com.srtp_cs.dev.entity.User">
        SELECT * FROM cs_user WHERE mail = #{mail}
    </select>

    <select id="selectUserByName" resultType="com.srtp_cs.dev.entity.User">
        SELECT * FROM cs_user WHERE name = #{name}
    </select>

    <select id="selectAllUsers" resultType="com.srtp_cs.dev.entity.User">
        SELECT * FROM cs_user
    </select>

    <insert id="insertUser">
        INSERT INTO cs_user(mail, name, pwd) VALUES(#{mail}, #{name}, #{pwd})
    </insert>

    <update id="updateUser">
        UPDATE cs_user SET mail = #{mail}, name = #{name}, pwd = #{pwd} WHERE uid = #{uid}
    </update>

    <delete id="deleteUser">
        DELETE FROM cs_user WHERE uid = #{uid}
    </delete>

</mapper>