.code {
background-color: #d2d2d24f;


}
#returnbtn {
position:relative;
top:-7px;
right:-1570px;

}
i {
  background: url(../images/search.png)no-repeat;
  width: 31px;
  height: 31px;
  display: block;
  position: relative;
  top:30px;
  left:600px;
  cursor: pointer;
}